<div class="container">
  <div class="row pictures">
    <p id="notice"><%= notice %></p>

    <h1 class="title col-md-6 col-md-offset-3">Favorites</h1>

    <table class="table table-hover ">
      <thead>
        <tr>
          <th>Image</th>
          <th>Content</th>
          <th>User</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @favorites.each do |clip| %>
          <tr>
            <td><%= image_tag clip.picture.image.url %></td>
            <td><%= clip.picture.content %></td>
            <td><%= clip.picture.user.name %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Picture', new_picture_path %>
    <%= link_to 'My Page', user_path(@user.id) %>
  </div>
</div>