<div class="container">
  <div class="row">
  <div class="col-md-6 col-md-offset-3 sign-up">
      <h1><%= @user.name %>のページ</h1>

      <p>メールアドレス: <%= @user.email %></p>

      <p>プロフィール: <%= @user.profile %></p>

      <p>プロフィール写真: <%= image_tag @user.profile_image.url %></p>

      <% if @current_user.id == @user.id %>
        <%= link_to "新規投稿", new_picture_path, class: 'btn btn-info btn-lg' %>

        <%= link_to "投稿一覧", pictures_path, class: 'btn btn-info btn-lg' %>

        <%= link_to "プロフィール編集", edit_user_path, class: 'btn btn-info btn-lg' %>
      <% end %>
    </div>
  </div>
</div>